@*
    Верстка для формочки на сторінці Профали
*@
@page "/razor-profile"

@inherits RazorProfileModel

<div class="row d-flex justify-content-center">
    <div>
        <img src="@Profile.AvatarImage"/>
    </div>
    <div class="col-md-5">
        <EditForm Model="@Profile">
            <DataAnnotationsValidator/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <InputText type="hidden" @bind-Value="Profile.Id"/>
            <div class="form-group">
                <label a class="control-label">First Name</label>
                <InputText @bind-Value="@Profile.FirstName" class="form-control"/>
                <ValidationMessage For="() => Profile.FirstName"/>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <InputText @bind-Value="@Profile.LastName" class="form-control"/>
                <ValidationMessage For="() => Profile.LastName"/>
            </div>
            <div class="form-group">
                <label class="control-label">Birth Day</label>
                <p class="form-control">@Profile.BirthDay.ToString("dd.MM.yyyy")</p>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <p class="form-control">@Profile.Email</p>
            </div>
            <div class="form-group">
                <label class="control-label">Email Confirmed</label>
                @if (Profile.EmailConfirmed)
                {
                    <span class="oi oi-circle-check"></span>
                }
                else
                {
                    <span class="oi oi-circle-x"></span>
                }
            </div>
            <div class="form-group">
                <button type="submit" @onclick="ChangProfile" class="btn btn-primary">
                    Save
                </button>
            </div>
        </EditForm>
    </div>
</div>
