@*Головна сторінка на якій зображується графік*@

@page "/"
@using Microsoft.AspNetCore.Components
@using IgniteUI.Blazor.Controls

@inherits IndexComponent

<h1>Welcome to MY Wallet!</h1>

<div class="options horizontal">
    <span class="options-label">Type Money</span>
    <select class="form-control" @bind="@TypeMoney">
        @if (TypeMoneyList != null)
        {
            @foreach (var item in TypeMoneyList)
            {
                <option value="@item.Name">@item.FullName (@item.Name)</option>
            }
        }
    </select>
    
    <span class="options-label">Start Date</span>
    <input class="form-control" @bind="@StartDate"></input>
    
    <span class="options-label">End Date</span>
    <input class="form-control" @bind="@EndDate"></input>
    
    <button @onclick="OnReloadChart">Reload Chart</button>
</div>

<div class="container vertical">

    <div style="height: 500px" class="container vertical">
        @if (Data != null)
        {
            <IgbCategoryChart Height="100%" Width="100%"
                              @ref="Chart"
                              DataSource="Data"
                              ChartType="CategoryChartType.Line"
                              IsTransitionInEnabled="true"
                              TransitionInMode="@CategoryTransitionInMode.Auto"
                              TransitionInDuration="2000"
                              IsHorizontalZoomEnabled="false"
                              IsVerticalZoomEnabled="false"
                              YAxisTitle="UAH"
                              YAxisTitleLeftMargin="10"
                              YAxisTitleRightMargin="5"
                              YAxisLabelLeftMargin="0"
                              ComputedPlotAreaMarginMode=ComputedPlotAreaMarginMode.Series>
            </IgbCategoryChart>
        }
    </div>
</div>
